/*
---- TYPOGRAPHY ----

FONT FAMILY
Poppins

FONT SIZES
12px / 16 px / 20 px / 24 px / 32px / 40px / 48px / 62px 

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
0 / -2px



/* =========== GLOBAL COLORS ===========
:root {
  --primary-base-color-sky-blue: #339af0;
  --primary-tint-color-arctic: #d0ebff;
  --primary-shade-color-deep-sea: #f1faee;

  --secondary-base-color-lavender: #9775fa;
  --secondary-tint-color-moonlight-iris: #e5dbff;
  --secondary-shade-color-velvet-night: #7048e8;

  --tertiary-base-color-pumpkin: #ff922d;
  --tertiary-tint-color-dawn: #ffe8cc;
  --tertiary-shade-color-lava: #f76707;

  --gray-base-color-slate: #495057;
  --gray-tint-color-pebble: #f1f3f5;
  --gray-shade-color-graphite: #212529;

  --white-color: #ffffff;
  --black-color: #000000;
}
*/

/* =========== GLOBAL STYLES =========== */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px;
  color: #212529;
}

h1 {
  font-size: 62px;
  text-align: center;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  font-size: 16px;
}

ul {
  list-style: none;
}

.small-text {
  font-size: 12px;
}



/* =========== COMPONENTS =========== */
.btn {
  font-size: 16px;
  text-decoration: none;
  padding: 15px 30px;
}

.btn-primary:link, .btn-primary:visited {
  color: #ffffff;
  background-color: #339af0;
}

.btn-primary:hover, .btn-primary:active {
  color: #ffffff;
  background-color: #1c7ed6;
}

.btn-secondary:link, .btn-secondary:visited {
  color: #ffffff;
  background-color: #9775fa;
}

.btn-secondary:hover, .btn-secondary:active {
  color: #ffffff;
  background-color: #7048e8;
}

.highlight {
  color: #ffffff;
  padding: 5px 10px;
}

.highlight-primary {
  background-color: #339af0;
}

.highlight-secondary {
  background-color: #9775fa;
}

.highlight-tertiary{
  background-color: #ff922b;
}

.logo-sm {
  width: 80px;
}

.logo-md {
  width: 100px;
}


/* =========== SECTIONS =========== */

/* ---- HERO SECTION ---- */
.hero-section {
  text-align: center;
}

/* ---- FEATURE SECTION ---- */
.features-main-heading {
  text-align: center;
}

.features-img {
  width: 400px;
}

/* ---- CTA SECTION ---- */
.cta-section {
  text-align: center;
  height: 300px;
}

.cta-card {
  background-color: #339af0;
  width: 1000px;
  padding: 100px 200px;
}


/* ---- FOOTER ---- */
.footer {
  text-align: center;
}

.social-icon {
  width: 20px;
}
