/*
---- TYPOGRAPHY ----

FONT FAMILY
Poppins

FONT SIZES
12px / 16 px / 20 px / 24 px / 32px / 40px / 48px / 62px 

FONT WEIGHTS
400 / 700

LINE HEIGHTS
1.2 / 1.5

LETTER SPACING
0 / -2px



---- BORDER RADIUS ----

4px / 8px / 20px



---- SPACING SYSTEM ----

5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px
90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px


---- COLORS ----

:root {
  --primary-base-color-sky-blue: #339af0;
  --primary-tint-color-arctic: #d0ebff;
  --primary-shade-color-deep-sea: #f1faee;

  --secondary-base-color-lavender: #9775fa;
  --secondary-tint-color-moonlight-iris: #e5dbff;
  --secondary-shade-color-velvet-night: #7048e8;

  --tertiary-base-color-pumpkin: #ff922d;
  --tertiary-tint-color-dawn: #ffe8cc;
  --tertiary-shade-color-lava: #f76707;

  --gray-base-color-slate: #495057;
  --gray-tint-color-pebble: #f1f3f5;
  --gray-shade-color-graphite: #212529;

  --white-color: #ffffff;
  --black-color: #000000;
}
*/



/* =========== GLOBAL STYLES =========== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px;
  color: #212529;
}

h1 {
  font-size: 62px;
  text-align: center;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
}

ul {
  list-style: none;
}

span {
  display: inline-block;
}

.small-text {
  font-size: 12px;
}



/* =========== COMPONENTS =========== */
.btn {
  font-size: 16px;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 8px;
}

.btn-primary:link, .btn-primary:visited {
  color: #ffffff;
  background-color: #339af0;
  border: 2px solid #339af0;
}

.btn-primary:hover, .btn-primary:active {
  color: #ffffff;
  background-color: #1c7ed6;
  border: 2px solid #1c7ed6;
}

.btn-primary-outline:link, .btn-primary-outline:visited {
  color: #339af0;
  background-color: #ffffff;
  border: 2px solid #339af0;
}

.btn-primary-outline:hover, .btn-primary-outline:active {
  color: #1c7ed6;
  background-color: #ffffff;
  border: 2px solid #1c7ed6;
}

.btn-secondary:link, .btn-secondary:visited {
  color: #ffffff;
  background-color: #9775fa;
  border: 2px solid #9775fa;
}

.btn-secondary:hover, .btn-secondary:active {
  color: #ffffff;
  background-color: #7048e8;
  border: 2px solid #7048e8;
}

.highlight {
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 4px;
}

.highlight-primary {
  background-color: #339af0;
}

.highlight-secondary {
  background-color: #9775fa;
}

.highlight-tertiary{
  background-color: #ff922b;
}

.logo-sm {
  width: 80px;
}

.logo-md {
  width: 100px;
}



/* =========== SECTIONS =========== */

/* ---- NAVBAR ---- */
.navbar {
  margin-bottom: 200px;
}

/* ---- HERO SECTION ---- */
.hero-section {
  text-align: center;
  margin-bottom: 300px;
}

.hero-heading {
  margin-bottom: 10px;
}

.hero-paragraph {
  margin-bottom: 50px;
}

/* ---- FEATURE SECTION ---- */
.features-section {
  margin-bottom: 300px;
}

.features-main-heading {
  text-align: center;
  margin-bottom: 80px;
}

.feature-headings {
  margin-bottom: 20px;
}

.features-img {
  width: 400px;
}

/* ---- CTA SECTION ---- */
.cta-section {
  margin-bottom: 300px;
}

.cta-card {
  text-align: center;
  background-color: #339af0;
  width: 1000px;
  padding: 100px 200px;
  border-radius: 120px;
}
.cta-heading {
  margin-bottom: 30px;
}

/* ---- FOOTER ---- */
.footer {
  text-align: center;
}

.social-icon {
  width: 20px;
}
